{% extends "_base.html" %}
{% block content %}
    <div class="py-4 px-6 shadow-md rounded-md w-full bg-white overflow-x-auto">
        <div class="gap-4 flex mb-2 items-center">
            {% if user_role == "ADMIN" or user_role == 'HR' %}
                {% include "shift/pattern/create.html" %}
            {% endif %}
            <p class="text-2xl font-semibold text-slate-700">{{ shift.name }}</p>
        </div>
        <table class=" text-sm text-left w-full table-auto ">
            <thead class="text-xs uppercase  text-slate-800 bg-slate-200">
                <tr>
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col" class="p-3">Next pattern</th>
                    <th scope="col" class="p-3">Start time</th>
                    <th scope="col" class="p-3">End time</th>
                    <th scope="col" class="p-3">Tolerance</th>
                    <th scope="col" class="p-3">Day span</th>
                    {% if user_role == "ADMIN" or user_role == 'HR' %}<th scope="col" class="p-3 text-right">Action</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pattern in page %}
                    <tr class="bg-white border-y text-slate-700 border-slate-300 hover:bg-gray-50 ">
                        <td class="p-2 font-semibold">{{ pattern.name }}</td>
                        <td class="p-2">{{ pattern.next }}</td>
                        <td class="p-2">{{ pattern.start_time }}</td>
                        <td class="p-2">{{ pattern.end_time }}</td>
                        <td class="p-2">{{ pattern.tolerance }}</td>
                        <td class="p-2">{{ pattern.day_span }}</td>
                        {% if user_role == "ADMIN" or user_role == 'HR' %}
                            <td class="p-2 text-right">
                                <a href="{% url 'shift:edit_pattern' pattern.id %}"
                                   class="font-semibold   hover:underline">Edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page %}
            {% include "pagination.html" %}
        {% else %}
            <p class="p-4 ml-2 text-lg">No pattern record.</p>
        {% endif %}
    </div>
{% endblock content %}
