{% extends "_base.html" %}
{% block content %}
    <div class="py-4 px-6 shadow-md rounded-lg w-full bg-white overflow-x-auto">
        <div class="gap-4 flex mb-2 items-center">
            {% if user_role == "ADMIN" or user_role == 'HR' %}
                {% include "shift/pattern/create.html" %}
            {% endif %}
            <p class="text-xl font-semibold text-slate-900 ml-3 my-2">{{ shift.name }}</p>
        </div>
        <table class=" text-sm text-left w-full table-auto text-slate-900">
            <thead class="text-xs uppercase  bg-slate-100">
                <tr>
                    <th scope="col" class="p-4">Name</th>
                    <th scope="col" class="p-4">Next pattern</th>
                    <th scope="col" class="p-4">Start time</th>
                    <th scope="col" class="p-4">End time</th>
                    <th scope="col" class="p-4">Tolerance</th>
                    <th scope="col" class="p-4">Day span</th>
                    {% if user_role == "ADMIN" or user_role == 'HR' %}<th scope="col" class="p-4 text-right">Action</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pattern in page %}
                    <tr class="bg-white border-b hover:bg-gray-50 ">
                        <td class="p-4">{{ pattern.name }}</td>
                        <td class="p-4">{{ pattern.next }}</td>
                        <td class="p-4">{{ pattern.start_time }}</td>
                        <td class="p-4">{{ pattern.end_time }}</td>
                        <td class="p-4">{{ pattern.tolerance }}</td>
                        <td class="p-4">{{ pattern.day_span }}</td>
                        {% if user_role == "ADMIN" or user_role == 'HR' %}
                            <td class="p-4 text-right">
                                <a href="{% url 'shift:edit_pattern' pattern.id %}"
                                   class="font-semibold text-slate-900  hover:underline">Edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page %}
            {% include "pagination.html" %}
        {% else %}
            <p class="p-4 ml-2 text-lg">No pattern record.</p>
        {% endif %}
    </div>
{% endblock content %}
