{% extends "_base.html" %}
{% block content %}
  <div class="px-8 py-4  bg-white rounded-md w-full overflow-x-auto">
    <div class="flex items-center gap-6 mb-2">
      {% if request.user.profile.role == "ADMIN" or request.user.profile.role == "HR" %}
        <a href="{% url 'employee:sync_employee' %}"
           class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white rounded-md bg-slate-700 hover:bg-slate-800 focus:ring-2 focus:outline-none focus:ring-slate-300">
          Sync nav employees
        </a>
      {% else %}
        <a href="{% url 'shift:select_employees' %}"
           class="px-4 py-2 text-sm font-medium text-center text-white rounded-md bg-slate-700 hover:bg-slate-800 focus:ring-2 focus:outline-none focus:ring-slate-300 ">Assign shift</a>
      {% endif %}
      {% include "partials/filter.html" %}
    </div>
    <table class=" text-sm text-left  w-full table-auto ">
      <thead class="text-xs uppercase border-slate-300 text-slate-800 bg-slate-200">
        <tr>
          <th scope="col" class="p-3">ID</th>
          <th scope="col" class="p-3">Full name</th>
          <th scope="col" class="p-3">Department</th>
          <th scope="col" class="p-3">
            Employment
            date
          </th>
          <th scope="col" class="p-3">Status</th>
          <th scope="col" class="p-3">Shift</th>
          <th scope="col" class="p-3 ">Device</th>
          <th scope="col" class="p-3 text-right ">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in page %}
          <tr class="border-y leading-relaxed border-slate-300 text-slate-700 hover:bg-slate-50">
            <td class="p-2 font-semibold ">{{ employee.employee_id }}</td>
            <th class="p-2 font-semibold  lowercase text-slate-800 first-letter:capitalize  ">{{ employee.name }}</th>
            <td class="p-2">{{ employee.department }}</td>
            <td class="p-2 ">{{ employee.employment_date }}</td>
            <td class="p-2 ">{{ employee.status }}</td>
            <td class="p-2">{{ employee.shift }}</td>
            <td class="p-2 ">{{ employee.device.name }}</td>
            <td class="p-2 text-right ">
              <a href="{{ employee.get_absolute_url }}"
                 class="font-semibold text-slate-700 hover:underline ">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
