{% extends "_base.html" %}
{% block content %}
  <div class="px-8 py-4 mx-auto bg-white rounded-lg w-fit">
    <div class="flex items-center justify-between mb-2">
      {% include "employee/filter.html" %}
      {% if request.user.profile.role == "ADMIN" or request.user.profile.role == "HR" %}
        <a href="{% url 'employee:sync_employee' %}"
           class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300">
          Update
        </a>
      {% else %}
        <a href="{% url 'shift:select_employees' %}"
           class="px-4 py-2 text-sm font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 ">Assign shift</a>
      {% endif %}
    </div>
    <table class="overflow-x-auto text-sm text-left text-slate-900 ">
      <thead class="text-xs uppercase border-b border-black text-slate-900 bg-slate-50">
        <tr>
          <th scope="col" class="px-2 py-2 whitespace-nowrap">ID</th>
          <th scope="col" class="px-2 py-2">Full name</th>
          <th scope="col" class="px-2 py-2">Department</th>
          <th scope="col" class="px-2 py-2">
            Employment
            date
          </th>
          <th scope="col" class="px-2 py-2">Status</th>
          <th scope="col" class="px-2 py-2">Shift</th>
          <th scope="col" class="px-2 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in page %}
          <tr class="border-b hover:bg-slate-50">
            <td class="px-2 py-2 font-semibold">{{ employee.employee_id }}</td>
            <th scope="row"
                class="px-2 py-2 font-semibold lowercase text-slate-900 first-letter:uppercase whitespace-nowrap ">
              {{ employee.name }}
            </th>
            <td class="px-2 py-2 whitespace-nowrap">{{ employee.department }}</td>
            <td class="px-2 py-2">{{ employee.employment_date }}</td>
            <td class="px-2 py-2">{{ employee.status }}</td>
            <td class="px-2 py-2 whitespace-nowrap">{{ employee.shift }}</td>
            <td class="px-2 py-2 text-right">
              <a href="{{ employee.get_absolute_url }}"
                 class="font-semibold text-slate-900 hover:underline">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
