{% extends "_base.html" %}
{% block content %}
  <div class="p-4 mx-4 bg-white divide-y divide-black w-fit rounded-lg">
    <div class="flex items-center justify-between mx-4">
      {% include "shift/create.html" %}
      <a href="{% url 'shift:select_employees' %}"
         class="px-5 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 ">Assign shift</a>
    </div>
    <div>
      <table class="text-base text-left text-gray-800 w-fit">
        <thead class="uppercase whitespace-nowrap bg-gray-50">
          <tr>
            <th scope="col" class="px-3 py-3">Shift name</th>
            <th scope="col" class="px-3 py-3">Continous</th>
            <th scope="col" class="px-3 py-3">Saturday half</th>
            <th scope="col" class="px-3 py-3">Patterns</th>
            <th scope="col" class="px-3 py-3 text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for shift in page %}
            <tr class="bg-white border-b hover:bg-gray-50 whitespace-nowrap">
              <th scope="row"
                  class="px-3 py-3 font-semibold text-gray-900 whitespace-nowrap">{{ shift.name }}</th>
              <td class="px-3 py-3">{{ shift.continous }}</td>
              <td class="px-3 py-3">{{ shift.saturday_half }}</td>
              <td class="px-3 py-3">{{ shift.patterns.count }}</td>
              <td class="px-4 py-3 text-right">
                <a href="{{ shift.get_absolute_url }}"
                   class="font-semibold text-slate-900 dark:text-slate-500 hover:font-extrabold">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
