
{% extends "_base.html" %}
{% block content %}
    <div class="relative mt-20 overflow-x-auto shadow-md sm:rounded-lg md:ml-24">
    {% include "shift/create_shift.html" %}
       
        <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Shift name</th>
                    <th scope="col" class="px-6 py-3">Continous</th>
                    <th scope="col" class="px-6 py-3">Saturday half</th>
                    <th scope="col" class="px-6 py-3">Patterns</th>
                    <th scope="col" class="px-6 py-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for shift in page %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ shift.name }}
                        </th>
                        <td class="px-6 py-4">{{ shift.continous }}</td>
                        <td class="px-6 py-4">{{ shift.saturday_half }}</td>
                        <td class="px-6 py-4">{{ shift.patterns.count }}</td>
                        <td class="px-2 py-4 text-right md:px-6">
                            <a href="{{ shift.get_absolute_url }}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex items-center w-full gap-4">
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}" class="font-bold ">Previous</a>
            {% endif %}
            <a href="?page=1" class="font-bold ">First</a>
            <div class="flex gap-4 mx-2">
                {% for num in page.paginator.page_range %}
                    {% if page.number == num %}
                        <span class="page-link ">{{ num }}</span>
                    {% elif num > page.number|add:'-4' and num < page.number|add:'4' %}
                        <a class="font-bold " href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="?page={{ page.paginator.num_pages }}" class="font-bold ">
                Last
            </a>
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="font-bold ">
                    Next
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
