<!-- Modal toggle -->
<button data-modal-target="holiday-detail-{{ h.id }}"
        data-modal-toggle="holiday-detail-{{ h.id }}"
        class="block px-3 py-1 text-sm text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 "
        type="button">Detail</button>
<!-- Main modal -->
<div id="holiday-detail-{{ h.id }}"
     tabindex="-1"
     aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full p-4">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t md:p-5 dark:border-slate-600">
        <h3 class="text-xl font-semibold text-slate-900 ">Holiday detail</h3>
        <button type="button"
                class="inline-flex items-center justify-center w-8 h-8 text-sm bg-transparent rounded-lg text-slate-400 hover:bg-slate-200 hover:text-slate-900 ms-auto dark:hover:bg-slate-600 dark:hover:text-white"
                data-modal-hide="holiday-detail-{{ h.id }}">
          <svg class="w-3 h-3"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="w-full p-8 bg-white rounded-lg shadow gap-y-4">
        <div class="flex items-center justify-between">
          <div clas="flex gap-4 w-fit">
            <a href="{% url 'approval:approve_holiday' h.id %}"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800">
              Approve
              <svg class="w-4 h-4 ml-1 text-white"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   width="20"
                   height="20"
                   fill="none"
                   viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
              </svg>
            </a>
            <a href="{% url 'approval:reject_holiday' h.id %}"
               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg bg-slate-200 hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
              Reject
              <svg class="w-4 h-4 ml-1"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   width="20"
                   height="20"
                   fill="none"
                   viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
              </svg>
            </a>
          </div>
          <div>
            <svg class="flex-shrink-0 w-12 h-12 transition duration-75 text-slate-900 group-hover:text-slate-100"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 24 24">
              <path d="M20 7h-.7a3.4 3.4 0 0 0-.7-4c-.6-.6-1.5-1-2.4-1-1.8 0-3.3 1.2-4.4 2.5C10.4 2.8 9 2 7.5 2a3.5 3.5 0 0 0-3.1 5H4a2 2 0 0 0-2 2v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V9a2 2 0 0 0-2-2ZM10 7H7.6a1.5 1.5 0 0 1 0-3c.9 0 2 .8 3 2.1l-.4.9Zm6.2 0h-3.8c1-1.4 2.4-3 3.8-3a1.5 1.5 0 0 1 0 3ZM13 14h-2v8h2v-8Zm-4 0H4v6a2 2 0 0 0 2 2h3v-8Zm6 0v8h3a2 2 0 0 0 2-2v-6h-5Z" />
            </svg>
          </div>
        </div>
        <div class="flow-root ">
          <ul role="list" class="flex-col w-full divide-y divide-slate-200">
            <li class="py-3 ">
              <div class="flex items-center justify-between ">
                <div class="flex-1 min-w-0 text-left ms-4">
                  <p class="text-base font-medium truncate text-slate-900 ">Name</p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-right text-slate-900 ">{{ h.name }}</div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-1 min-w-0 text-left ms-4">
                  <p class="text-base font-medium truncate text-slate-900 ">Date</p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-right text-slate-900 ">{{ h.date }}</div>
              </div>
            </li>
            <li class="pt-3 pb-0 sm:pt-4">
              <div class="flex items-center justify-between">
                <div class="flex-1 min-w-0 text-left ms-4">
                  <p class="mb-2 text-base font-bold truncate text-slate-900 ">Description</p>
                </div>
                <div class="inline-flex items-center ml-4 text-base font-semibold text-right text-slate-900 ">{{ h.description }}</div>
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="mt-3">
          <a href="{% url 'approval:approve_holiday' h.id %}" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              Approve
              <svg class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd">
                </path>
              </svg>
            </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
