{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-6 bg-white rounded-lg shadow-md w-full overflow-x-auto">
    <table class="text-sm text-left text-slate-900 table-auto w-full">
      <thead class="text-xs font-semibold text-slate-900 uppercase bg-slate-100">
        <tr>
          <th scope="col" class="p-2">Employee</th>
          <th scope="col" class="p-2">Leave Type</th>
          <th scope="col" class="p-2">Start date</th>
          <th scope="col" class="p-2">End date</th>
          <th scope="col" class="p-2">Half day</th>
          <th scope="col" class="p-2 text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for l in page %}
          <tr class="bg-white border-b">
            <th class="p-2 font-semibold text-slate-900 whitespace-nowrap ">{{ l.employee.name }}</th>
            <td class="p-2">{{ l.leave_type }}</td>
            <td class="p-2">{{ l.start_date }}</td>
            <td class="p-2">{{ l.end_date }}</td>
            <td class="p-2">{{ l.half_day }}</td>
            <td class="p-2">{% include "approval/leave_detail.html" %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page %}
      {% include "pagination.html" %}
    {% else %}
      <p class="ml-4 ">There is nothing to approve.</p>
    {% endif %}
  </div>
{% endblock content %}
