{% extends "_base.html" %}
{% block content %}
    <div class="block p-4 bg-white rounded-lg md:p-8 dark:bg-slate-800">
        <div class="grid max-w-screen-xl grid-cols-2  gap-8 p-4 mx-auto text-slate-900 sm:grid-cols-4  sm:p-8">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">{{ attendances.count }}</dt>
                <dd class="text-slate-600">
                    Attendance
                </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">{{ leaves.count }}</dt>
                <dd class="text-slate-600">
                    Leave
                </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">{{ overtimes.count }}</dt>
                <dd class="text-slate-600">
                    Overtime
                </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">{{ holidays.count }}</dt>
                <dd class="text-slate-600">
                    Holiday
                </dd>
            </div>
        </div>
    </div>
{% endblock content %}
