{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-6  bg-white rounded-lg shadow-md w-full overflow-x-auto">
    <table class="text-sm text-left text-slate-900 table-auto w-full">
      <thead class="text-xs font-semibold text-slate-900 uppercase bg-slate-100">
        <tr>
          <th scope="col" class="p-2">Employee</th>
          <th scope="col" class="p-2">Type</th>
          <th scope="col" class="p-2">Start date</th>
          <th scope="col" class="p-2">Start time</th>
          <th scope="col" class="p-2">End date</th>
          <th scope="col" class="p-2">End time</th>
          <th scope="col" class="p-2 ">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for ot in page %}
          <tr class="bg-white border-b">
            <th scope="row"
                class="p-2 font-semibold text-slate-900 whitespace-nowrap dark:text-white">{{ ot.employee.name }}</th>
            <td class="p-2">{{ ot.overtime_type }}</td>
            <td class="p-2">{{ ot.start_date }}</td>
            <td class="p-2">{{ ot.start_time_expected }}</td>
            <td class="p-2">{{ ot.end_date }}</td>
            <td class="p-2">{{ ot.end_time_expected }}</td>
            <td class="items-center p-2">{% include "approval/overtime_detail.html" %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page %}
      {% include "pagination.html" %}
    {% else %}
      <p class="ml-4">There is nothing to approve.</p>
    {% endif %}
  </div>
{% endblock content %}
