{% extends "_base.html" %}
{% block content %}
    <div class="px-8 py-4  bg-white rounded-md w-full overflow-x-auto">
        <table class=" text-sm text-left  w-full table-auto ">
            <thead class="text-xs uppercase border-slate-300 text-slate-800 bg-slate-200">
                <tr>
                    <th scope="col" class="p-3">User ID</th>
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col" class="p-3">Privilege</th>
                    <th scope="col" class="p-3">Uid</th>
                </tr>
            </thead>
            <tbody>
                {% for user in page %}
                    <tr class="border-y leading-relaxed border-slate-300 text-slate-700 hover:bg-slate-50">
                        <td class="p-2">{{ user.user_id }}</td>
                        <td class="p-2 whitespace-nowrap">{{ user.name }}</td>
                        <td class="p-2">{{ user.privilege }}</td>
                        <td class="p-2">{{ user.uid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" %}
    </div>
{% endblock content %}
