{% extends "_base.html" %}
{% block content %}
    <div class="relative overflow-x-auto rounded-md shadow-md w-full  bg-white p-6">
        <table class="w-full text-sm  text-left text-slate-800 table-auto">
            <thead class=" uppercase text-slate-900 bg-slate-100 ">
                <tr>
                    <th scope="col" class="p-3">User ID</th>
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col" class="p-3">Privilege</th>
                    <th scope="col" class="p-3">Uid</th>
                </tr>
            </thead>
            <tbody>
                {% for user in page %}
                    <tr class="bg-white border-b text-slate-900 hover:bg-slate-50">
                        <td class="p-3">{{ user.user_id }}</td>
                        <td class="p-3 whitespace-nowrap">{{ user.name }}</td>
                        <td class="p-3">{{ user.privilege }}</td>
                        <td class="p-3">{{ user.uid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" %}
    </div>
{% endblock content %}
