{% extends "_base.html" %}
{% block content %}
    <div class="py-4 px-6 shadow-md rounded-lg  w-full bg-white overflow-x-auto">
        <div class="gap-4 items-center flex">
            <p class="text-xl font-semibold text-slate-800 ml-3 my-2">{{ shift.name }}</p>
        </div>
        <table class=" text-sm text-left w-full table-auto">
            <thead class="text-xs uppercase  bg-slate-100">
                <tr>
                    <th scope="col" class="p-2">Id</th>
                    <th scope="col" class="p-2">Name</th>
                    <th scope="col" class="p-2">Status</th>
                    <th scope="col" class="p-2">Department</th>
                    <th scope="col" class="p-2">Attendances</th>
                    <th scope="col" class="p-2">Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in page %}
                    <tr class="bg-white border-b hover:bg-slate-50 ">
                        <td class="p-2">{{ employee.employee_id }}</td>
                        <td class="p-2">{{ employee.name }}</td>
                        <td class="p-2">{{ employee.status }}</td>
                        <td class="p-2">{{ employee.department.name }}</td>
                        <td class="p-2">{{ employee.attendances.count }}</td>
                        <td class="p-2">
                            <a href="{{ employee.get_absolute_url }}"
                               class="font-semibold text-slate-900  hover:underline">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page %}
            {% include "pagination.html" %}
        {% else %}
            <p class="p-2 ml-2 text-lg">No employee record.</p>
        {% endif %}
    </div>
{% endblock content %}
