<!-- <?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Required Python settings -->
<add key="PYTHONPATH" value="C:\Users\biruk\Documents\projects\qual" />
<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
<add key="DJANGO_SETTINGS_MODULE" value="qual.settings.prod" />
</appSettings>
<system.webServer>
<handlers>
    <remove name="PythonHandler" />
</handlers>
</system.webServer>
</configuration> -->