<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
    <!-- Required settings -->
    <add key="PYTHONPATH" value="C:\Users\biruk\Documents\projects\qual\qual" />
    <add key="DJANGO_SETTINGS_MODULE" value="qual.qual.settings" />
    <add key="DJANGO_ENV" value="prod"/>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
  </appSettings>
    <system.webServer>
        <handlers>
            <add name="Attendance-Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\biruk\Documents\projects\qual\env\Scripts\python.exe|C:\Users\biruk\Documents\projects\qual\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>

        <!-- Add SSL settings -->
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
