{% extends "_base.html" %}
{% block content %}
  <div class="relative p-8 ml-4 overflow-x-auto bg-white shadow-md rounded-xl w-fit">
    <div class="flex items-center justify-between mx-2 mb-2">
      <div class="px-2">
        <h2 class="mb-2 text-lg font-semibold uppercase text-slate-900">Check list:</h2>
        <ul class="max-w-md space-y-1 list-inside text-slate-900">
          <li class="flex items-center">
            {% if no_shift == 0 %}
              <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
            {% else %}
              <svg class="w-3.5 h-3.5 me-2 text-slate-500 dark:text-slate-400 flex-shrink-0"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
            {% endif %}
            <h2 class="font-semibold">There are currently {{ no_shift }} employees without a shift.</h2>
          </li>
          <li class="flex items-center">
            <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            Last compiled on {{ daily_records.date }}
          </li>
        </ul>
      </div>
      <div class="flex-col gap-y-4">
        <form method="post" action="{% url 'attendance:compile_attendance' %}">
          {% csrf_token %}
          <div class=" mb-2">
            <a href="{% url 'attendance:compile_attendance' %}"
               class="inline-flex items-center px-5 py-2 text-sm font-medium text-center text-white bg-slate-800 rounded-lg hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
              Compile
            </a>
            {{ compile_date }}
          </div>
        </form>
        <div>{% include "attendance/compile_filter.html" %}</div>
      </div>
    </div>
    <table class="text-left text-slate-900">
      <thead class="uppercase text-slate-900 bg-slate-50 text-sm">
        <tr>
          <th scope="col" class="p-2">Employee</th>
          <th scope="col" class="p-2">Status</th>
          <th scope="col" class="p-2 text-center">
            <p class="font-light">Checkin</p>
            <div class="gap-2 flex w-full justify-around">
              <p>date</p>
              <p>time</p>
            </div>
          </th>
          <th scope="col" class="p-2 text-center">
            <p class="font-light">Checkout</p>
            <div class="gap-2 flex w-full justify-around">
              <p>date</p>
              <p>time</p>
            </div>
          </th>
          <th scope="col" class="p-2">
            Worked
            <br />
            hours
          </th>
          <th scope="col" class="p-2 whitespace-nowrap">
            Checkin &
            <br />
            out type
          </th>
        </tr>
      </thead>
      <tbody>
        {% for a in page %}
          <tr class="bg-white border-b hover:bg-slate-50">
            <th scope="row"
                class="p-1 font-semibold text-slate-900 whitespace-nowrap dark:text-white">
              {{ a.employee.name }}
              <br />
              <span class="text-sm font-normal">{{ a.current_pattern }}</span>
            </th>
            <td class="p-1 whitespace-nowrap font-semibold uppercase text-sm">{{ a.status }}</td>
            <td class="p-2">
              <div class="gap-2 flex justify-around whitespace-nowrap">
                <p class="font-light">{{ a.check_in_date }}</p>
                <p class="font-semibold">{{ a.check_in_time }}</p>
              </div>
            </td>
            <td class="p-2">
              <div class="gap-2 flex justify-around whitespace-nowrap">
                <p class="font-light">{{ a.check_out_date }}</p>
                <p class="font-semibold">{{ a.check_out_time }}</p>
              </div>
            </td>
            <td class="p-1">{{ a.worked_hours }}</td>
            <td class="p-1">
              {{ a.check_in_type }}
              <br />
              {{ a.check_out_type }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
