{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Qualabels Attendance" />
        <meta name="keywords" content="qualabels, attendance" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Qualabels Attendance</title>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}" />
            <link rel="stylesheet"
                  href="{% static 'django_select2/django_select2.css' %}" />
        {% endcompress %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
        {% compress js %}
            <script src="{% static 'django_select2/django_select2.js' %}"></script>
        {% endcompress %}
    </head>
    <body class="w-full bg-isabelline-500">
        {% with request.user.profile.role as user_role %}
            <div>
                {% include "session_security/all.html" %}
                {% if request.user.is_authenticated %}
                    <div>{% include "sidebar.html" %}</div>
                    <div class="lg:ml-60">
                        {% include 'navbar.html' %}
                        <div class="w-full mx-auto">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                {% else %}
                    <div>
                        <div class="w-screen h-screen place-content-center">
                            {% block login %}
                            {% endblock login %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endwith %}
        {{ form.media }}
    </body>
</html>
