{% extends "_base.html" %}
{% block content %}
    <a href="{% url 'attendance:add_to_att' %}"
       class="p-8 bg-red-300 rounded-md m-10 ">add</a>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">date</th>
                    <th scope="col" class="px-6 py-3">time</th>
                    <th scope="col" class="px-6 py-3">device</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                    <tr class="bg-white border-b  -gray-700 hover:bg-gray-50">
                        <td class="px-6 py-4">{{ attendance.date }}</td>
                        <td class="px-6 py-4">{{ attendance.time }}</td>
                        <td class="px-6 py-4">{{ attendance.device.name }}</td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-slate-600  hover:underline">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
