<div class="grid mb-8 border border-gray-200 rounded-md shadow-sm -gray-700 md:mb-12 md:grid-cols-2 ">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e ">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-900 lg:mb-8 ">
            <div class="space-y-0.5  text-left rtl:text-right ms-3">
                <div class="text-2xl font-semibold">Employees</div>
                <div class="text-6xl font-bold text-gray-900 ">{{ employees.count }}</div>
            </div>
            <div class="space-y-0.5 rtl:text-right ms-3">
                <div class="text-2xl font-semibold">Devices</div>
                <div class="text-6xl font-bold text-gray-900 ">{{ devices.count }}</div>
            </div>
            <div class="space-y-0.5  rtl:text-right ms-3">
                <div class="text-2xl font-semibold">Attendances</div>
                <div class="text-6xl font-bold text-gray-900 ">{{ attendances.count }}</div>
            </div>
        </blockquote>
    </figure>
</div>
