{% load static %}
<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 h-screen text-white transition-transform -translate-x-full w-60 lg:translate-x-0"
       aria-label="Sidebar">
  <div class="h-full  px-3 overflow-y-auto text-sm bg-slate-800 fill-white">
    <div class="my-4 items-center">
      <img src="{% static 'images/logo.png' %}"
           class="  mx-auto "
           height=""
           width=""
           alt="logo2">
    </div>
    <ul class=" mx-auto mt-4 divide-y divide-slate-200">
      <li>
        <a href="{% url 'attendance:dashboard' %}"
           class="flex items-center p-2 rounded-md hover:bg-slate-900 hover:text-slate-100 group">
          <svg class="flex-shrink-0 w-5 h-5 transition duration-75 group-hover:text-slate-100"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z" clip-rule="evenodd" />
          </svg>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      {% if user_role == "USER" %}
        {% include 'sidebar/user.html' %}
      {% elif  user_role == "MANAGER" %}
        {% include 'sidebar/manager.html' %}
      {% elif user_role == "HR" %}
        {% include 'sidebar/hr.html' %}
      {% elif user_role == "ADMIN" %}
        {% include 'sidebar/admin.html' %}
      {% endif %}
      <li>
        <a href="{% url 'account:profile_detail' %}"
           class="flex items-center p-2 rounded-md hover:bg-slate-900 hover:text-slate-100 group">
          <svg class="w-5 h-5 transition duration-75 group-hover:text-slate-100"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v12c0 1.1.9 2 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5c0-.6.4-1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3c0-.6.4-1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3c0-.6.4-1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm2 4a3 3 0 0 0-3 2v.2c0 .1-.1.2 0 .2v.2c.3.2.6.4.9.4h6c.3 0 .6-.2.8-.4l.2-.2v-.2l-.1-.1A3 3 0 0 0 10 14H7.9Z" clip-rule="evenodd" />
          </svg>
          <span class="ms-3">Profile</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
