<li>
    <a href="{% url 'attendance:attendances' %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'attendances' %} text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500 {% else %} text-slate-900 rounded hover:bg-slate-100 md:hover:bg-transparent md:hover:text-blue-700 {% endif %}"
       aria-current="page">Attendance</a>
</li>
<li>
    <a href="{% url 'attendance:raw_attendance' %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'raw_attendance' %} text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500 {% else %} text-slate-900 rounded hover:bg-slate-100 md:hover:bg-transparent md:hover:text-blue-700 {% endif %}">Raw attendance</a>
</li>
<li>
    <a href="{% url 'attendance:compile_view' %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'compile_view' %} text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500 {% else %} text-slate-900 rounded hover:bg-slate-100 md:hover:bg-transparent md:hover:text-blue-700 {% endif %}">Compile attendance</a>
</li>
