<li>
    <a href="{% url 'leave:leaves' %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'leaves' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}"
       aria-current="page">Leave</a>
</li>
{% if user_role == "ADMIN" or user_role == "HR" %}
    <li>
        <a href="{% url 'leave:annual_leaves' %}"
           class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'annual_leaves' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}">Annual leave</a>
    </li>
    <li>
        <a href="{% url 'leave:leave_types' %}"
           class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'leave_types' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}">Leave type</a>
    </li>
{% endif %}
