<li>
    <a href="{% url 'overtime:overtimes' %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'overtimes' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}"
       aria-current="page">Overtime</a>
</li>
<li>
    <a href="{% url 'overtime:overtime_detail' overtime.id %}"
       class="block py-2 px-3 md:p-0  {% if request.resolver_match.url_name == 'overtime_detail' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}">Overtime detail</a>
</li>
