<li>
    <a href="{% url 'shift:shifts' %}"
       class="block py-2 px-3 md:p-0  {% if url_name == 'shifts' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}"
       aria-current="page">Shift</a>
</li>
{% if not user_role == "ADMIN" or not user_role == "HR" %}
    {% if url_name == "select_employees" %}
        <li>
            <a href="{% url 'employee:employees' %}"
               class="block py-2 px-3 md:p-0  {% if url_name == 'employees' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}"
               aria-current="page">Employee</a>
        </li>
    {% endif %}
{% endif %}
<li>
    <a href="{% url 'shift:select_employees' %}"
       class="block py-2 px-3 md:p-0  {% if url_name == 'select_employees' %} text-slate-50 bg-slate-700 rounded md:bg-transparent md:text-slate-400 {% else %} text-slate-50 rounded hover:bg-slate-700 hover:text-slate-50 md:hover:bg-transparent md:hover:text-slate-400 {% endif %}">Assign employees</a>
</li>
