{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-6 bg-white rounded-md shadow-md w-full overflow-x-auto">
    <div class="flex items-center mb-2  gap-6">
      <!-- <a href="{% url 'leave:calculate_leave_balance' %}" class="inline-flex items-center px-4 py-2 text-sm text-center text-white rounded-md bg-slate-700 hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
        Calculate
      </a> -->
      {% include 'leave/annual_leave/calculate.html' %}
      {% include 'partials/filter.html' %}
      {% include 'leave/annual_leave/download.html' %}
    </div>
    <div>
      <table class="table-auto w-full text-sm text-left ">
        <thead class="text-xs uppercase text-slate-800 bg-slate-200">
          <tr>
            <th scope="col" class="p-3">ID</th>
            <th scope="col" class="p-3">Employee</th>
            <th scope="col" class="p-3">Start date</th>
            <th scope="col" class="p-3">Last calculated</th>
            <th scope="col" class="p-3">balance</th>
            <th scope="col" class="p-3">taken</th>
            <!-- <th scope="col" class="p-3">difference</th> -->
            <th scope="col" class="p-3">remaining</th>
          </tr>
        </thead>
        <tbody>
          {% for e in page %}
            <tr class="bg-white border-y border-slate-300 leading-relaxed text-slate-700 hover:bg-slate-50">
              <td class="p-2 whitespace-nowrap">{{ e.employee_id }}</td>
              <td class="p-2 whitespace-nowrap font-semibold lowercase first-letter:capitalize">{{ e.name }}</td>
              <td class="p-2 whitespace-nowrap">{{ e.employment_date }}</td>
              <td class="p-2 whitespace-nowrap">{{ e.calculate_date }}</td>
              <td class="p-2 whitespace-nowrap">{{ e.annual_leave_balance|floatformat:2 }}</td>
              <td class="p-2 whitespace-nowrap">{{ e.annual_leave_taken|floatformat:2 }}</td>
              <!-- <td class="p-2 whitespace-nowrap">{{ e.annual_leave_difference }}</td> -->
              <td class="p-2 font-semibold">{{ e.annual_leave_remaining|floatformat:2 }}</td>
              <!-- <td class="px-2 py-4 text-right">
            <a href="{{ e.get_absolute_url }}" class="font-medium text-slate-800 hover:underline">Detail</a>
          </td> -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
