{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-6 bg-white rounded-lg shadow-md w-full overflow-x-auto">
    <div class="flex items-center mb-2  gap-6">
      <!-- <a href="{% url 'leave:calculate_leave_balance' %}" class="inline-flex items-center px-4 py-2 text-sm text-center text-white rounded-lg bg-slate-700 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
        Calculate
      </a> -->
      {% include 'leave/annual_leave/calculate.html' %}
      {% include 'leave/annual_leave/filter.html' %}
      {% include 'leave/annual_leave/download.html' %}
    </div>
    <div>
      <table class="table-auto w-full text-sm text-left ">
        <thead class="text-xs uppercase text-slate-900 bg-slate-100">
          <tr>
            <th scope="col" class="p-4">ID</th>
            <th scope="col" class="p-4">Employee</th>
            <th scope="col" class="p-4">Start date</th>
            <th scope="col" class="p-4">Last calculated</th>
            <th scope="col" class="p-4">balance</th>
            <th scope="col" class="p-4">taken</th>
            <!-- <th scope="col" class="p-4">difference</th> -->
            <th scope="col" class="p-4">remaining</th>
          </tr>
        </thead>
        <tbody>
          {% for e in page %}
            <tr class="bg-white border-b hover:bg-slate-50">
              <td class="p-4 whitespace-nowrap">{{ e.employee_id }}</td>
              <td class="p-4 whitespace-nowrap lowercase first-letter:capitalize">{{ e.name }}</td>
              <td class="p-4 whitespace-nowrap">{{ e.employment_date }}</td>
              <td class="p-4 whitespace-nowrap">{{ e.calculate_date }}</td>
              <td class="p-4 whitespace-nowrap">{{ e.annual_leave_balance }}</td>
              <td class="p-4 whitespace-nowrap">{{ e.annual_leave_taken }}</td>
              <!-- <td class="p-4 whitespace-nowrap">{{ e.annual_leave_difference }}</td> -->
              <td class="p-4">{{ e.annual_leave_remaining }}</td>
              <!-- <td class="px-2 py-4 text-right">
            <a href="{{ e.get_absolute_url }}" class="font-medium text-blue-800 dark:text-blue-500 hover:underline">Detail</a>
          </td> -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
