{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-6  bg-white rounded-lg shadow-md w-full ">
    <div class="flex items-center  gap-4 mb-2">
      <a href="{% url 'overtime:create_overtime' %}"
         class="inline-flex items-center px-4 py-2 text-sm text-center text-white rounded-lg bg-slate-700 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300">
        Create
      </a>
      {% include "overtime/filter.html" %}
      {% include "overtime/download.html" %}
    </div>
    <div class="overflow-x-auto py-2">
      <table class=" text-sm text-left text-slate-900 table-auto w-full ">
        <thead class="text-xs text-slate-800 uppercase whitespace-nowrap bg-slate-100">
          <tr>
            <th scope="col" class="p-4">Employee</th>
            <th scope="col" class="p-4">Start Date</th>
            <th scope="col" class="p-4">End Date</th>
            <th scope="col" class="p-4">Start time</th>
            <th scope="col" class="p-4">End time</th>
            <th scope="col" class="p-4">Worked hours</th>
            <th scope="col" class="p-4">Approved</th>
            <th scope="col" class="p-4">Paid</th>
            <th scope="col" class="p-4 text-right">Actions</th>
          </tr>
        </thead>
        <tbody class="whitespace-nowrap">
          {% for overtime in page %}
            <tr class="bg-white border-b hover:bg-slate-50">
              <td class="p-4 whitespace-nowrap">{{ overtime.employee.name }}</td>
              <td class="p-4 whitespace-nowrap">{{ overtime.start_date }}</td>
              <td class="p-4 whitespace-nowrap">{{ overtime.end_date }}</td>
              <td class="p-4">{{ overtime.start_time }}</td>
              <td class="p-4">{{ overtime.end_time }}</td>
              <td class="p-4">{{ overtime.worked_hours }}</td>
              <td class="p-4">{{ overtime.approved }}</td>
              <td class="p-4">{{ overtime.paid }}</td>
              <td class="p-4 text-right">
                <a href="{{ overtime.get_absolute_url }}"
                   class="font-semibold text-slate-900 hover:underline">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
