{% extends "_base.html" %}
{% block content %}
    <div class="relative w-full max-w-2xl max-h-full p-4">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="p-4 font-semibold">
                <h1>Change your password</h1>
                <p>User the form below to change your password.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="flex-col justify-between p-4 space-y-4 font-bold md:p-5">{{ form.as_p }}</div>
                <div class="flex items-center gap-4 p-4 border-t border-gray-200 rounded-b md:p-5">
                    <button type="submit"
                            value='Change'
                            class="px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
                        Change
                    </button>
                    <a href="{% url 'account:profile_detail' request.user.profile.id %}"
                       class="px-5 py-2 text-sm font-medium text-center  bg-slate-100 rounded-lg hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-slate-300 ">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
