{% extends "_base.html" %}
{% block content %}
    <div class="py-4 px-6  bg-white rounded-md shadow-md w-full overflow-x-auto">
        <table class="overflow-x-auto text-sm text-left w-full table-auto">
            <thead class="text-xs uppercase  bg-slate-100">
                <tr>
                    <th scope="col" class="p-4">Employee</th>
                    <th scope="col" class="p-4">Ot type</th>
                    <th scope="col" class="p-4">PIC</th>
                    <th scope="col" class="p-4">Date</th>
                    <th scope="col" class="p-4">Start time</th>
                    <th scope="col" class="p-4">End time</th>
                    <th scope="col" class="p-4">Units</th>
                    <th scope="col" class="p-4">Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for ot in page %}
                    <tr class="bg-white border-b hover:bg-slate-50 ">
                        <td class="p-4">{{ ot.employee.name }}</td>
                        <td class="p-4">{{ ot.overtime_type }}</td>
                        <td class="p-4">{{ ot.overtime_type.pay_item_code }}</td>
                        <td class="p-4">{{ ot.start_date }}</td>
                        <td class="p-4">{{ ot.start_time }}</td>
                        <td class="p-4">{{ ot.end_time }}</td>
                        <td class="p-4">{{ ot.units_worked }}</td>
                        <td class="p-4">{{ ot.paid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page %}
            {% include "pagination.html" %}
        {% else %}
            <p class="p-4 ml-2 text-lg">No ot record.</p>
        {% endif %}
    </div>
{% endblock content %}
