{% extends "_base.html" %}
{% block content %}
  <div class="px-8 py-4 bg-white rounded-lg shadow max-w-screen-md mx-auto">
    <div class="p-2  bg-white ">
      <div class="flex items-center gap-2 justify-end">
        <h5 class="text-xl font-semibold text-slate-700 capitalize ">Overtime type detail</h5>
      </div>
      <div class="flex justify-between mt-2 items-center">
        <svg class="w-12 h-12  text-slate-700"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M18 5h1a2 2 0 0 1 2 2v2H3V7c0-1 .9-2 2-2h1V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1h3V4a1 1 0 1 1 2 0v1ZM3 11v8c0 1.2.9 2 2 2h14a2 2 0 0 0 2-2v-8H3Zm8 7a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1a1 1 0 1 0-2 0v1h-1a1 1 0 1 0 0 2h1v1Z" clip-rule="evenodd" />
        </svg>
        <h5 class="text-xl font-semibold text-slate-900 capitalize">{{ overtime_type.name }}</h5>
      </div>
      <div class="flex-row font-normal text-slate-900 mx-2">
        <div class="flex justify-between mb-2">
          <span class="mr-2 text-sm uppercase">Pay Item Code:</span>
          <p class="font-semibold">{{ overtime_type.pay_item_code }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-2 text-sm uppercase">Day span:</span>
          <p class="font-semibold">{{ overtime_type.day_span }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-1 text-sm uppercase">Start Time:</span>
          <p class="font-semibold text-right">{{ overtime_type.start_time }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-1 text-sm uppercase">End Time:</span>
          <p class="font-semibold text-right">{{ overtime_type.end_time }}</p>
        </div>
        <div class="flex mb-2 justify-between">
          <span class="mr-1 text-sm uppercase">Days:</span>
          <div class="gap-2 grid grid-cols-3 sm:grid-cols-4 text-right items-center">
            {% for day in days %}<p class=" text-left items-center">{{ day.name }}</p>{% endfor %}
          </div>
        </div>
        {% include "overtime/overtime_type/edit.html" %}
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="overflow-x-auto text-sm text-left text-slate-900 table-auto w-full">
        <thead class="text-slate-900 uppercase bg-slate-100 text-xs">
          <tr>
            <th scope="col" class="p-3 text-sm whitespace-nowrap">Employee</th>
            <th scope="col" class="p-3 text-sm whitespace-nowrap">Start date</th>
            <th scope="col" class="px-1 py-1 text-sm whitespace-nowrap">Start time</th>
            <th scope="col" class="p-3 text-sm whitespace-nowrap">End date</th>
            <th scope="col" class="p-1  text-sm whitespace-nowrap">End time</th>
            <th scope="col" class="p-1  text-sm whitespace-nowrap">Units</th>
            <th scope="col" class="p-3 text-sm whitespace-nowrap text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for ot in page %}
            <tr class="bg-white border-b hover:bg-slate-50">
              <td class="p-3 font-semibold whitespace-nowrap">{{ ot.employee.name }}</td>
              <td class="p-3 whitespace-nowrap">{{ ot.start_date }}</td>
              <td class="p-3 whitespace-nowrap">{{ ot.start_time }}</td>
              <td class="p-3 whitespace-nowrap">{{ ot.end_date }}</td>
              <td class="p-3 whitespace-nowrap">{{ ot.end_time }}</td>
              <td class="p-3 whitespace-nowrap">{{ ot.units_worked }}</td>
              <td class="p-3 whitespace-nowrap text-right">
                <a href="{{ ot.overtime.get_absolute_url }}"
                   class="font-semibold text-slate-900  hover:underline">Detail</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td>
                <p class="ml-5 font-semibold whitespace-nowrap">No data.</p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
