{% extends "_base.html" %}
{% block content %}
  <div class="w-full  bg-white mx-auto py-4 px-6  rounded-md">
    <div class="mb-2">{% include "overtime/overtime_type/create.html" %}</div>
    <div>
      <table class="overflow-x-auto text-left text-slate-900 table-auto w-full text-sm ">
        <thead class="text-slate-900 uppercase bg-slate-200 text-xs">
          <tr>
            <th scope="col" class="p-3">Name</th>
            <th scope="col" class="p-3">Pay item code</th>
            <th scope="col" class="p-3">Days</th>
            <th scope="col" class="p-3">OTs</th>
            <th scope="col" class="p-3 text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ott in page %}
            <tr class=" text-slate-950 hover:bg-slate-50 border-b">
              <td class="p-3">{{ ott.name }}</td>
              <td class="p-3 text-sm">{{ ott.pay_item_code }}</td>
              <td class="p-3">{{ ott.days.count }}</td>
              <td class="p-3">{{ ott.ots.count }}</td>
              <td class="p-3 text-right">
                <a href="{{ ott.get_absolute_url }}"
                   class="text-slate-900 font-semibold hover:underline">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
