{% extends "_base.html" %}
{% block content %}
  <div class="w-fit  bg-white mx-auto p-4 divide-y divide-black rounded-lg">
    <div class="mb-2">{% include "overtime/overtime_type/create.html" %}</div>
    <div class="w-full mx-2 bg-white divide-y-2">
      <table class="overflow-x-auto text-left text-black text-sm">
        <thead class="text-slate-900 uppercase bg-slate-50 text-xs">
          <tr>
            <th scope="col" class="px-2 py-2">Name</th>
            <th scope="col" class="px-2 py-2">PIC</th>
            <th scope="col" class="px-2 py-2">Days</th>
            <th scope="col" class="px-2 py-2">OTs</th>
            <th scope="col" class="px-2 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for ott in page %}
            <tr class="bg-white text-slate-900 hover:bg-slate-50 font-semibold">
              <td class="px-2 py-4">{{ ott.name }}</td>
              <td class="px-2 py-4">{{ ott.pay_item_code }}</td>
              <td class="px-2 py-4">{{ ott.days.count }}</td>
              <td class="px-2 py-4">{{ ott.ots.count }}</td>
              <td class="px-2 py-4 text-right">
                <a href="{{ ott.get_absolute_url }}"
                   class="text-slate-900 font-semibold hover:underline">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
