{% extends "_base.html" %}
{% block content %}
  <div class="mx-auto max-w-screen-md px-8 py-4 md:px-16 md:py-8 rounded-md  bg-white shadow-md  ">
    <div class="flex my-4 items-center justify-between">
      {% include "user/profile/edit.html" %}
      {% if user_role == "ADMIN" or user_role == "HR" %}
        {% include "user/profile/select_device.html" %}
      {% endif %}
      <a href="{% url 'password_change' %}"
         class="inline-flex items-center px-4 py-2 text-sm  text-center text-white rounded-md bg-slate-700 hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-300">
        Change password
      </a>
    </div>
    <div class="justify-between gap-24">
      <div class="flex items-center justify-between my-2">
        <h5 class="text-xl font-bold leading-none text-gray-900 uppercase">{{ user.user.username }}</h5>
        <svg class="w-12 h-12 text-slate-800"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 20 20">
          <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
        </svg>
      </div>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 ">
        <div class="flex-1 min-w-0 ms-4">
          <p class=" mb-2 text-xl font-semibold text-left text-gray-900">User info</p>
        </div>
        <li class="py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="font-medium text-gray-900 truncate ">Employee</p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 ">{{ user.employee.name }}</div>
          </div>
        </li>
        <li class="py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="font-medium text-gray-900 truncate ">Email</p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 ">{{ user.user.email }}</div>
          </div>
        </li>
        <li class="py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="font-medium text-gray-900 truncate ">First name</p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 ">{{ user.user.first_name }}</div>
          </div>
        </li>
        <li class="py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="font-medium text-gray-900 truncate ">Last name</p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 ">{{ user.user.last_name }}</div>
          </div>
        </li>
        <div class="flex-1 min-w-0 ms-4">
          <p class=" mb-2 text-xl font-semibold text-left text-gray-900">Profile info</p>
        </div>
        <li class="py-3">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="font-medium text-gray-900 truncate ">Role</p>
            </div>
            <div class="inline-flex items-center font-semibold text-gray-900 ">{{ user.role }}</div>
          </div>
        </li>
        {% if user_role == "ADMIN" or user_role == "HR" %}
          <li class="py-3">
            <div class="flex items-center">
              <div class="flex-1 min-w-0 ms-4">
                <p class="font-medium text-gray-900 truncate ">Device</p>
              </div>
              <div class="inline-flex items-center font-semibold text-gray-900 ">{{ user.device }}</div>
            </div>
          </li>
        {% endif %}
        <li class="pt-3 pb-0 sm:pt-4">
          <div class="flex ">
            <div class="flex-1 min-w-0 ms-4">
              <p class="mb-2 text-base font-bold text-gray-900 truncate ">Manages</p>
            </div>
            <div class="flex-col items-stretch text-base font-semibold text-right text-gray-900 whitespace-nowrap">
              {% for manage in manages %}<p>{{ manage.name }} --</p>{% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock content %}
