{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-8 bg-white w-full overflow-x-auto rounded-md">
    <div class="mb-2 items-center">{% include "holiday/create.html" %}</div>
    <div>
      <table class="text-sm text-left  w-full table-auto">
        <thead class="text-xs uppercase border-slate-300 text-slate-800 bg-slate-200">
          <tr>
            <th scope="col" class="p-3">Name</th>
            <th scope="col" class="p-3">Date</th>
            <th scope="col" class="p-3">Approved</th>
            <th scope="col" class="p-3 ">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for holiday in page %}
            <tr class="bg-white border-y border-slate-300 hover:bg-slate-50 whitespace-nowrap">
              <th scope="row"
                  class="p-2 font-semibold text-slate-700 whitespace-nowrap">{{ holiday.name }}</th>
              <td class="p-2">{{ holiday.date }}</td>
              <td class="p-2">{{ holiday.approved }}</td>
              <td class="p-2 ">{% include "holiday/detail.html" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
