{% extends "_base.html" %}
{% block content %}
  <div class="py-4 px-8 bg-white w-full overflow-x-auto rounded-md">
    <div class="mb-2">{% include "holiday/create.html" %}</div>
    <div>
      <table class="text-sm text-left text-slate-800 w-full table-auto">
        <thead class="uppercase whitespace-nowrap bg-slate-100">
          <tr>
            <th scope="col" class="p-3">Name</th>
            <th scope="col" class="p-3">Date</th>
            <th scope="col" class="p-3">Approved</th>
            <th scope="col" class="p-3 ">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for holiday in page %}
            <tr class="bg-white border-b hover:bg-slate-50 whitespace-nowrap">
              <th scope="row"
                  class="p-3 font-semibold text-slate-900 whitespace-nowrap">{{ holiday.name }}</th>
              <td class="p-3">{{ holiday.date }}</td>
              <td class="p-3">{{ holiday.approved }}</td>
              <td class="p-3 ">{% include "holiday/detail.html" %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
