{% extends "_base.html" %}
{% block content %}
  <div class="px-4 mx-4 w-fit">
    <div class="p-4 mb-2 bg-white border border-slate-200 rounded-lg shadow">
      <div class="flex justify-between mx-2 items-center">
        <a href="{% url 'leave:leave_types' %}" class="mx-2">
          <svg class="w-6 h-6 text-slate-800 dark:text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               fill="none"
               viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7" />
          </svg>
        </a>
        {% include "leave/leave_type/edit.html" %}
      </div>
      <div class="flex items-center justify-between">
        <h5 class="mb-2 text-2xl font-bold text-slate-900 uppercase">{{ leave_type.name }}</h5>
        <svg class="w-12 h-12 mb-3 text-slate-950"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
        </svg>
      </div>
      <div class="flex-row font-normal text-slate-900">
        <div class="flex justify-between mb-2">
          <span class="mr-2 font-semibold uppercase">Maximum days:</span>
          <p class="font-bold">{{ leave_type.maximum_days }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-2 font-semibold uppercase">Paid:</span>
          <p class="font-bold">{{ leave_type.paid }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-2 font-semibold uppercase">Leaves:</span>
          <p class="font-bold">{{ leave_type.leaves.count }}</p>
        </div>
        <div class="flex justify-between mb-2">
          <span class="mr-2 font-semibold uppercase">Description:</span>
          <p class="font-bold">{{ leave_type.description }}</p>
        </div>
      </div>
    </div>
    <div class="relative bg-white">
      <table class="overflow-x-auto text-left text-slate-950 w-fit">
        <thead class="text-slate-900 uppercase bg-slate-50 ">
          <tr>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">Employee</th>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">Leave name</th>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">Start date</th>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">End date</th>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">Half day</th>
            <th scope="col" class="px-2 py-3 whitespace-nowrap">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for leave in page %}
            <tr class="bg-white border-b dark:bg-slate-800 dark:border-slate-700 hover:bg-slate-50 dark:hover:bg-slate-600">
              <td class="px-3 py-3 whitespace-nowrap">{{ leave.employee.name }}</td>
              <td class="px-3 py-3 whitespace-nowrap">{{ leave.leave_type.name }}</td>
              <td class="px-3 py-3 whitespace-nowrap">{{ leave.start_date }}</td>
              <td class="px-3 py-3 whitespace-nowrap">{{ leave.end_date }}</td>
              <td class="px-3 py-3 whitespace-nowrap">{{ leave.is_half_day }}</td>
              <td class="px-3 py-3 whitespace-nowrap">
                <a href="{{ leave.get_absolute_url }}"
                   class="font-semibold text-slate-900  hover:font-extrabold">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
