{% extends "_base.html" %}
{% block content %}
  <div class="p-4 mx-auto bg-white divide-y rounded-lg shadow-md w-fit ">
    <div class="ml-2 mb-2">{% include "leave/leave_type/create.html" %}</div>
    <div class="w-full bg-white divide-y-2">
      <table class="overflow-x-auto text-left text-black text-sm">
        <thead class="uppercase text-slate-900 bg-slate-50 text-xs">
          <tr>
            <th scope="col" class="p-3">Name</th>
            <th scope="col" class="p-3">Max</th>
            <th scope="col" class="p-3">Paid</th>
            <th scope="col" class="p-3">Leaves</th>
            <th scope="col" class="p-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for leave_type in page %}
            <tr class="bg-white text-slate-900 hover:bg-slate-50">
              <td class="p-3">{{ leave_type.name }}</td>
              <td class="p-3">{{ leave_type.maximum_days }}</td>
              <td class="p-3">{{ leave_type.paid }}</td>
              <td class="p-3">{{ leave_type.leaves.count }}</td>
              <td class="p-3 text-right">
                <a href="{{ leave_type.get_absolute_url }}"
                   class="font-semibold text-slate-900 hover:underline">Detail</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if page %}
        {% include "pagination.html" %}
      {% else %}
        <p class="ml-3 ">Empty.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
