{% extends "_base.html" %}
{% block content %}
    <div class="p-8 mx-4 bg-white rounded-md w-fit shadow-sm">
        <div class=" mb-3 flex gap-4">
            {% include "attendance/recompile/filter.html" %}
            <form method="post" action="{% url 'attendance:recompile_view' %}">
                {% csrf_token %}
                <div class="flex gap-3">
                    <button type="submit"
                            class="text-white bg-slate-700 hover:bg-slate-800 focus:ring-2 focus:outline-none focus:ring-slate-300 font-medium rounded-md text-sm px-4 py-2 text-center ">
                        Done
                    </button>
                    <a href="{% url 'attendance:cancel_recompile' %}"
                       class="px-4 py-2 text-sm text-center  bg-slate-200 rounded-md hover:bg-slate-300 focus:ring-2 focus:outline-none focus:ring-slate-300 ">Cancel</a>
                </div>
            </div>
            <table class="overflow-x-auto text-sm text-left text-slate-900 ">
                <thead class="uppercase text-slate-900 bg-slate-50 text-xs">
                    <tr>
                        <th scope="col" class="p-2 whitespace-nowrap">ID</th>
                        <th scope="col" class="p-2">Full name</th>
                        <th scope="col" class="p-2">Department</th>
                        <th scope="col" class="p-2">Date</th>
                        <th scope="col" class="p-2">Status</th>
                        <th scope="col" class="p-2">Shift</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr class="border-b hover:bg-slate-50">
                            <td class="p-2 font-semibold">
                                <input type="checkbox" name="employees" value="{{ employee.employee_id }}">
                                {{ employee.employee_id }}
                            </td>
                            <th scope="row"
                                class="p-2 font-semibold lowercase text-slate-900 first-letter:uppercase whitespace-nowrap ">
                                {{ employee.name }}
                            </th>
                            <td class="p-2 ">{{ employee.department }}</td>
                            <td class="p-2">{{ employee.employment_date }}</td>
                            <td class="p-2">{{ employee.status }}</td>
                            <td class="p-2 whitespace-nowrap">{{ employee.shift }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock content %}
