{% extends "_base.html" %}
{% block content %}
  <div class=" w-full shadow-md sm:rounded-md bg-white py-4 px-8">
    <table class="text-left text-sm text-slate-800 divide-y w-full table-auto">
      <thead class="text-xs uppercase border-slate-300 text-slate-800 bg-slate-200">
        <tr>
          <th scope="col" class="p-3">Department code</th>
          <th scope="col" class="p-3">Department name</th>
          <th scope="col" class="p-3">Employees</th>
        </tr>
      </thead>
      <tbody>
        {% for department in page %}
          <tr class="border-y border-slate-300 text-slate-700 hover:bg-slate-50">
            <td class="p-2">{{ department.code }}</td>
            <th class="p-2 font-semibold text-slate-800 whitespace-nowrap">{{ department.name }}</th>
            <td class="p-2">{{ department.employees.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
