{% extends "_base.html" %}
{% block content %}
  <div class="p-4 ml-4 overflow-x-auto bg-white rounded-lg shadow-md w-fit ">
    <table class="text-sm text-left w-full table-auto">
      <thead class="text-xs font-semibold uppercase bg-slate-100">
        <tr>
          <th scope="col" class="p-2">Employee</th>
          <th scope="col" class="p-2">Status</th>
          <th scope="col" class="p-2 text-left ">
            <div class="grid grid-cols-3">
              <div>date</div>
              <div class="font-light text-left">In</div>
              <div>time</div>
            </div>
          </th>
          <th scope="col" class="p-2 text-left">
            <div class="grid grid-cols-3">
              <div>date</div>
              <div class="font-light text-left">Out</div>
              <div>time</div>
            </div>
          </th>
          <th scope="col" class="p-2">Total</th>
          <th scope="col" class="p-2 whitespace-nowrap">Type</th>
        </tr>
      </thead>
      <tbody>
        {% for a in page %}
          <tr class="bg-white border-b hover:bg-slate-50">
            <th scope="row"
                class="p-1 font-semibold text-slate-900 whitespace-nowrap ">
              {{ a.employee.name }}
              <br>
              <span class="text-sm font-normal">{{ a.current_pattern }}</span>
            </th>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.status }}</td>
            <td class="items-center p-1 text-center">
              <div class="grid items-start grid-cols-2 gap-2">
                <div>{{ a.check_in_date }}</div>
                <div class="font-semibold">{{ a.check_in_time }}</div>
              </div>
            </td>
            <td class="items-center p-1 text-center">
              <div class="grid grid-cols-2 gap-2">
                <div>{{ a.check_out_date }}</div>
                <div class="font-semibold">{{ a.check_out_time }}</div>
              </div>
            </td>
            <td class="p-1">{{ a.worked_hours }}</td>
            <td class="p-1">
              {{ a.check_in_type }}
              <br>
              {{ a.check_out_type }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page %}
      {% include "pagination.html" %}
    {% else %}
      <p class="ml-4 text-lg">There is nothing to approve.</p>
    {% endif %}
  </div>
{% endblock content %}
