{% extends "_base.html" %}
{% block content %}
    
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        
        <div class="flex items-center justify-between">
            <svg class="w-12 h-12 mb-3 text-slate-950"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 14 18">
            <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
        </svg>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ leave.employee.name }}
        </h5>
            </div>
        <div class="flex-row font-normal text-gray-900 ">
            <div class="flex justify-between mb-2">
                <span class="mr-2">Employee ID:</span>
                <p class="font-bold">
                {{ leave.employee.employee_id }}
                    
                </p>
            </div>
            <div class="flex justify-between mb-2">
                <span class="mr-2">Shift:</span>
                <p class="font-bold">
                {{ leave.employee.shift }}
                    
                </p>
            </div>
            <div class="flex justify-between mb-2">
                <span class="mr-2">Pattern:</span>
                <p class="font-bold uppercase">
                {{ leave.employee.pattern }}
                    
                </p>
            </div>
            <div class="flex justify-between mb-2">
                <span class="mr-2">Last updated:</span>
                <p class="font-bold uppercase">
                {{ leave.employee.last_updated }}
                    
                </p>
            </div>
            <div class="flex justify-between">

            </div>
        </div>
    </div>
    

<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Leave detail</h5>
        {% if leave.evidence %}
        <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            Download Evidence
        </a>
        {% endif %}
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Leave type
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{ leave.leave_type }}
                    </div>
                </div>
            </li>
            
            <li class="py-3 sm:py-4">
                <div class="flex items-center ">
                    
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Half day
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{ leave.is_half_day }}
                    </div>
                </div>
            </li>
            
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Start date
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{ leave.start_date }}
                    </div>
                </div>
            </li>
            
            <li class="py-3 sm:py-4">
                <div class="flex items-center ">
                    
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            End date
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{ leave.end_date }}
                    </div>
                </div>
            </li>
            
            <li class="py-3 sm:py-4">
                <div class="flex items-center ">
                   
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Have Evidence
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {% if leave.evidence %}
                        True
                        {% else %}
                        False
                        {% endif %}
                    </div>
                </div>
            </li>

            <li class="pt-3 pb-0 sm:pt-4">
                <div class="flex-col items-center ">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="mb-2 text-base font-bold text-gray-900 truncate dark:text-white">
                            Reason
                        </p>
                        
                    </div>
                    <div class="inline-flex items-center ml-4 text-base font-semibold text-gray-900 dark:text-white">
                        {{ leave.reason }}
                    </div>
                </div>
            </li>
            
        </ul>
   </div>
</div>

{% endblock content %}
