{% extends "_base.html" %}
{% block content %}
  <div class="max-w-screen-md md:p-8 sm:p-4 p-4 shadow-md rounded-md border border-slate-300  bg-white mx-auto">
    <div class="w-full p-4 bg-white">
      <div class="justify-between mb-1">
        <div class="flex items-center justify-between ">
          <svg class="w-12 h-12 mb-1 text-slate-600"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="currentColor"
               viewBox="0 0 14 18">
            <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
          </svg>
          <h5 class="mb-1 text-2xl font-semibold tracking-tight text-slate-700 ">{{ leave.employee.name }}</h5>
        </div>
      </div>
      <div class="flex-row text-slate-700 divide-y-2 divide-slate-300">
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Employee ID:</span>
          <p class="font-semibold">{{ leave.employee.employee_id }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Department:</span>
          <p class="font-semibold">{{ leave.employee.department.name }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Current Shift:</span>
          <p class="font-semibold">{{ leave.employee.shift.name }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Leave Type:</span>
          <p class="font-semibold">{{ leave.leave_type.name }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Status:</span>
          <p class="font-semibold">
            {% if leave.approved == True %}
              Approved
            {% elif leave.rejected == True %}
              Rejected
            {% else %}
              Pending
            {% endif %}
          </p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">By:</span>
          <p class="font-semibold">
            {% if leave.approved == True %}
              {{ leave.approved_by }}
            {% elif leave.rejected == True %}
              {{ leave.rejected_by }}
            {% else %}
            {% endif %}
          </p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Half Day:</span>
          <p class="font-semibold">
            {% if leave.half_day == True %}
              Yes
            {% else %}
              No
            {% endif %}
          </p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Start Date:</span>
          <p class="font-semibold">{{ leave.start_date }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">End Date:</span>
          <p class="font-semibold">{{ leave.end_date }}</p>
        </div>
        <div class="flex justify-between my-2">
          <span class="mr-2 leading-relaxed ">Total Leave Days:</span>
          <p class="font-semibold">{{ leave.total_days }}</p>
        </div>
      </div>
      <div class="flex justify-end pt-2 border-t border-slate-300">
        {% if not leave.approved %}
          <div class="flex  gap-6 ">
            <a href="{% url 'leave:edit_leave' leave.id %}"
               class=" w-fit gap-1 inline-flex  px-3 py-1 rounded-sm self-center items-center justify-center content-center  bg-slate-600 text-slate-50 hover:bg-slate-700 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
              <p class="leading-relaxed">Edit</p>
              <svg class="w-5 h-5"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 22 22">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
              </svg>
            </a>
            {% if not leave.rejected %}
              <a href="{% url 'leave:cancel_leave' leave.id %}"
                 class=" w-fit gap-1 inline-flex  px-3 py-1 rounded-sm self-center items-center justify-center content-center bg-slate-200 text-slate-800 hover:bg-slate-200 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
                <p class="leading-relaxed">Cancel</p>
                <svg class="w-5 h-5 "
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 22 22">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                </svg>
              </a>
            {% endif %}
          </div>
        {% endif %}
        {% if leave.approved %}
          <div>
            <a href="{% url 'leave:reopen_leave' leave.id %}"
               class=" w-fit gap-1 inline-flex  px-3 py-1 rounded-sm self-center items-center justify-center content-center bg-slate-200 text-slate-800 hover:bg-slate-200 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
              <p class="leading-relaxed">Re-Open</p>
              <svg class="w-5 h-5 "
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 22 22">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4" />
              </svg>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
