{% extends "_base.html" %}
{% block content %}
    <style>input, select {width:100%;}</style>
    <div class="relative p-4 mx-auto bg-white rounded-lg shadow-md w-fit">
        <div class="mb-3 ">
            <h1 class="mx-auto mb-2 text-2xl font-semibold text-center first-letter:uppercase">Create On field</h1>
            <!-- <p>User the form below to change your password.</p> -->
        </div>
        <div class="ml-4 font-semibold text-red-700">
            {% if messages %}
                {% for message in messages %}<p>{{ message }}</p>{% endfor %}
            {% endif %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
            {% endif %}
        </div>
        <form action="{% url 'attendance:create_on_field' %}" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-2 mx-8">
                {% for field in form %}
                    <div class="grid items-stretch grid-cols-1 gap-2">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="flex items-center gap-4 p-2 border-t border-gray-200 rounded-b md:p-5">
                <button type="submit"
                        value='Create'
                        class="px-4 py-2 text-sm font-medium text-center text-white rounded-lg bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
                    Create
                </button>
                <a href="{% url 'attendance:on_fields' %}"
                   class="px-4 py-2 text-sm font-medium text-center rounded-lg bg-slate-200 hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-slate-300 ">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
