{% extends "_base.html" %}
{% block content %}
    <div class="relative mx-auto w-fit">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-md shadow sm:p-8 w-fit">
            <h1 class="mx-auto mb-2 text-2xl font-semibold text-center first-letter:uppercase">Edit On field</h1>
            <div class="ml-4 font-semibold text-red-700">
                {% if messages %}
                    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
                {% endif %}
            </div>
            <form action="{% url 'attendance:edit_on_field' on_field.id %}"
                  method="post">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-2 mx-8">
                    {% for field in form %}
                        <div class="grid items-stretch grid-cols-1 gap-2">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex items-center gap-4 p-4 border-t border-gray-200 rounded-b md:p-5 ">
                    <button type="submit"
                            value='Submit'
                            class="px-4 py-2 text-sm text-center text-white rounded-md bg-slate-700 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 ">
                        Edit
                    </button>
                    <a href="{% url 'attendance:on_field_detail' on_field.id %}"
                       class="px-4 py-2 text-sm text-center rounded-md text-slate-950 bg-slate-200 hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-slate-300 ">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
