{% extends "_base.html" %}
{% block content %}
    <div class=" w-fit">
        <!-- Modal content -->
        <div class=" bg-white rounded-md shadow mx-auto p-8">
            <div class=" mb-4">
                <h1 class="font-semibold text-xl">Create User</h1>
            </div>
            <form method="post" action="{% url 'account:create_user' %}">
                {% csrf_token %}
                <div class="gap-4 grid sm:grid-cols-2 ">
                    {{ form.media }}
                    {% for field in form %}
                        <div class="grid grid-cols-1 justify-between gap-2">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="flex items-center  border-gray-200 rounded-b  gap-2 mt-4">
                    <button type="submit"
                            value='Create'
                            class="text-white bg-slate-800 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-md text-sm px-4 py-2 text-center ">
                        Create
                    </button>
                    <a href="{% url 'account:users' %}"
                       class="px-4 py-2 text-sm  text-center text-slate-950 bg-slate-200 rounded-md hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-green-300 ">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
