{% extends "_base.html" %}
{% block content %}
  <div class="relative p-4 overflow-x-auto bg-white rounded-md shadow-md w-full">
    <div class="flex items-center justify-between mx-2 mb-2 gap-4">
      <div class="flex flex-wrap px-2 gap-4 mb-4  items-center justify-between  w-full">
        <div class="font-sans leading-relaxed text-slate-700">
          <div>
            <p class="flex items-center whitespace-nowrap">
              <svg class="w-3 h-3 me-2 text-green-500  flex-shrink-0"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              Last compiled on {{ last_date }}
            </p>
          </div>
          <div>
            <p class="flex items-center whitespace-nowrap">
              <svg class="w-3 h-3 me-2 text-green-500  flex-shrink-0"
                   aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg"
                   fill="currentColor"
                   viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
              </svg>
              Current date is
              <span class="font-semibold ml-1">{{ current_date }}</span>
            </p>
          </div>
        </div>
        <div class="flex flex-wrap w-fit gap-6 md:mb-1">
          {% if page %}
            <div>
              <a href="{% url 'approval:approve_attendance' %}"
                 class="inline-flex  items-center px-5 py-2 text-sm text-center text-white rounded-md bg-slate-700 hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
                Save
                <svg class="w-4 h-4 ml-1 text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     fill="none"
                     viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                </svg>
              </a>
            </div>
            <div>
              <a href="{% url 'attendance:delete_compiled_attendance' %}"
                 class="inline-flex items-center px-5 py-2 text-sm text-center text-slate-700 rounded-md bg-slate-200 border border-slate-400 hover:bg-slate-100 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
                Delete
                <svg class="w-4 h-4 ml-1 text-slate-800"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     fill="none"
                     viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                </svg>
              </a>
            </div>
          {% endif %}
          <div>
            <a href="{% url 'attendance:compile_attendance' %}"
               class="inline-flex items-center px-4 py-2 text-sm text-center text-white rounded-md bg-slate-700 hover:bg-slate-600 focus:ring-2 focus:outline-none focus:ring-slate-300 ">
              Compile
            </a>
          </div>
          <div>{% include "partials/filter.html" %}</div>
          <div>{% include "attendance/compile/download.html" %}</div>
        </div>
      </div>
    </div>
    <table class="text-sm text-left text-slate-700 w-full table-auto">
      <thead class="text-xs uppercase text-slate-700 bg-slate-100">
        <tr>
          <th scope="col" class="p-3">Employee</th>
          <th scope="col" class="p-3 whitespace-nowrap">Type</th>
          <th scope="col" class="p-3">Status</th>
          <th scope="col" class="p-3">In date</th>
          <th scope="col" class="p-3">In time</th>
          <th scope="col" class="p-3">Out date</th>
          <th scope="col" class="p-3">Out time</th>
          <th scope="col" class="p-3">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for a in page %}
          <tr class="bg-white border-b border-slate-300 hover:bg-slate-50">
            <th scope="row"
                class="p-2 font-semibold text-slate-700 whitespace-nowrap lowercase first-letter:uppercase">
              {{ a.employee.name }}
              <br />
              <span class="font-normal ">{{ a.current_pattern }}</span>
            </th>
            <td class="p-2">
              {{ a.check_in_type }}
              <br />
              {{ a.check_out_type }}
            </td>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.status }}</td>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.check_in_date }}</td>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.check_in_time }}</td>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.check_out_date }}</td>
            <td class="p-2 text-xs font-semibold uppercase whitespace-nowrap">{{ a.check_out_time }}</td>
            <td class="p-2">{{ a.worked_hours }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page %}
      {% include "pagination.html" %}
    {% else %}
      <p class="p-2 ml-2 ">No compiled record.</p>
    {% endif %}
  </div>
{% endblock content %}
